[DEFAULT]
instance_name = {{ project_name }}

[paths]
data = /var/lib/grafana
logs = /var/log/grafana
plugins = /var/lib/grafana/plugins
provisioning = /etc/grafana/provisioning

[server]
http_port = 3000
domain = {{ subdomains.grafana }}
root_url = https://{{ subdomains.grafana }}
enable_gzip = true

[database]
type = sqlite3
path = /var/lib/grafana/grafana.db

[security]
admin_user = admin
admin_password = {{ grafana_admin_password }}

[auth]
disable_login_form = false

[auth.anonymous]
enabled = false

[auth.basic]
enabled = true

[analytics]
reporting_enabled = false
check_for_updates = true

[grafana_net]
url = https://grafana.net

[log]
mode = console
level = info

[plugins]
enable_alpha = true
app_tls_skip_verify_insecure = true
preinstall_apps =
