[server]
http_port = 3000
domain = {{ subdomains.grafana }}
root_url = https://{{ subdomains.grafana }}
serve_from_sub_path = false

[security]
admin_user = admin
admin_password = Nusatech-2025

[users]
allow_sign_up = false

[auth.anonymous]
enabled = false

[dashboards]
default_home_dashboard_path = /var/lib/grafana/dashboards/overview.json

[alerting]
enabled = true

[remote_cache]
type = redis

[log]
mode = console
level = info
