[server]
http_port = 3000
domain = {{ subdomains.grafana }}
root_url = https://{{ subdomains.grafana }}
serve_from_sub_path = false

[security]
admin_user = admin
admin_password = {{ grafana_admin_password }}

[users]
allow_sign_up = false

[auth.anonymous]
enabled = false

[dashboards]
default_home_dashboard_path = /var/lib/grafana/dashboards/overview.json

[unified_alerting]
enabled = true

[alerting]
# Remove this section - legacy alerting is deprecated

[log]
mode = console
level = info

[paths]
data = /var/lib/grafana
logs = /var/log/grafana
plugins = /var/lib/grafana/plugins
provisioning = /etc/grafana/provisioning
